body {
  margin: 0;
  min-height: 100vh;
  background-color: #019579;

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.card {
  background-color: white;
  width: 90%;
  max-width: 420px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  box-sizing: border-box;
  text-align: left;
}

.card h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin: 12px 0 6px;
}

input[type="radio"] {
  width: auto%;
  padding: 10px;
  margin-top: 6px;
  border-radius: 6px;
  border: 1px solid #999;
  font-size: 16px;
}

.gender {
  display: flex;
  gap: 15px;
  margin-top: 6px;
}
input[type="submit"] {
  background-color: #0a8f79;
  color: white;
  border: none;
  margin-top: 20px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

input[type="submit"]:hover {
  background-color: #087a67;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .card {
    padding: 18px;
  }

  input,
  select,
  textarea {
    font-size: 14px;
  }
}
.form-row {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
}

.form-row label {
  width: 130px;   /* label fixed width */
  font-weight: bold;
}

.form-row input,
.form-row select,
.form-row textarea {
  flex: 1;        /* input full bacha hua space lega */
}