body {
  background-color: #f5f5f5;
}
body {
text-align: center;
}
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  backgrounf-color: #f5f5f5;
}
.main-container {
  width: 90%;
  max-eidth: 500px;
  background: white;
  padding: 25px;
  border-radius: 8px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}
